<script type="text/ng-template" id="views/comment.html">
  <div class="panel panel-default comment">
    <div class="panel-heading comment-header">
      <button ng-if="comment.children" class="fa-2x clear-square fa"
              ng-class="{'fa-minus-square': !collapsed, 'fa-plus-square': collapsed}"
              title="toggle children" ng-click="collapse()"></button>
      <button ng-if="!comment.children" class="fa-2x fa clear-square"></button>
      <h4 class="comment-user">
        <span class="comment-username" ng-if="!comment.profileUrl">{{comment.name}}</span>
        <a class="comment-username" ng-if="comment.profileUrl" ng-href="{{comment.profileUrl}}"
                 title="{{comment.name}}">{{comment.name}}</a>
        <small class="comment-date" ng-if="comment.date" title="{{comment.date | calendar}}">
          {{comment.date | timeago}}
        </small>
      </h4>
      <img class="comment-avatar" ng-if="comment.avatarUrl" ng-src="{{comment.avatarUrl}}"
           alt="{{comment.name}}" />
    </div>
    <div class="comment-body panel-body" ng-bind-html="comment.text"></div>
    <div comments-transclude></div>
    <commenter action="addChildComment" toggle="true"></commenter>
  </div>
</script>
<div class="container">
  <div class="col-md-4">
    <img class="logo" src="images/ilog.png" width="220" height="120" alt="iLog">
  </div>
  <div class="container">
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-md-2">
        <h4><b>{{ bug.issue_id }}</b></h4>
      </div>
      <div class="com-md-8">
        <h4><b>{{ bug.issue_subject }}</b></h4>
      </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-md-3">
        <span>Assigned to: {{ bug.assigned_to }}</span>
      </div>
      <div class="col-md-3">
        <span>Submited by: {{ bug.submitted_by }}</span>
      </div>
      <div class="col-md-2">
        <span>Status: {{ bug.status }}</span>
      </div>
      <div class="col-md-2">
        <span>Open Flag: {{ bug.open_flg }}</span>
      </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-md-3">
        <span>Category: {{ bug.department }}</span>
      </div>
      <div class="col-md-3">
        <span>Application: {{ bug.application }}</span>
      </div>
      <div class="col-md-2">
        <span>Client: {{ bug.client }}</span>
      </div>
      <div class="col-md-2">
        <span>LOB: {{ bug.lob }}</span>
      </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-md-3">
        <span>Callflow Type: {{ bug.CallflowType }}</span>
      </div>
      <div class="col-md-3">
        <span>Issue Type: {{ bug.issue_type }}</span>
      </div>
      <div class="col-md-2">
        <span>Opened Date: {{ bug.opened_dt }}</span>
      </div>
      <div class="col-md-2">
        <span>Live Date: {{ bug.live_date }}</span>
      </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <div class="col-md-10">
        <hr />
        <div ng-bind-html="getDescription()"></div>
        <hr />
      </div>
    </div>
    <comments comment-data="comments"></comments>
  </div>
</div>
