body { padding-top: 70px; }

.navbar-default {
  background-color: #57747b;
  border-color: #2d4859;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #bbfff4;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #bbfff4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #bbfff4;
  background-color: #2d4859;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #bbfff4;
  background-color: #2d4859;
}
.navbar-default .navbar-toggle {
  border-color: #2d4859;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2d4859;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #bbfff4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbfff4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbfff4;
    background-color: #2d4859;
  }
}

.question-summary {
  padding: 12px 0 10px 0;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
  background-color: #f8f8f8;
}
.question :hover {
  background-color: #dfdfdf;
}

.modal-header {
  text-align: center;
  background-color: #f8f8f8;
}

.modal-footer {
  background-color: #f8f8f8;
}

comment {
  margin: .25em;
}

.comment > .comments {
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
}

.comment-header {
  vertical-align: middle;
  line-height: 2em;
}

.comment-header > h4 {
  display: inline;
}

.comment > .page-header {
  margin-top: 0;
  padding-top: 0;
}

.clear-square {
  vertical-align: sub;
  border: none;
  background: none;
  outline: none;
  min-width: 36px;
  min-height: 34px;
}

.commenter-container{
  border-top: 1px solid #ddd;
  text-decoration: none;
}

.add_comment .commenter-container {
  margin-top: 20px;
  border: 1px solid #C2C2C2;
  border-radius: 4px;
  background: #F0F0F0;
}

.pointer {
    cursor: pointer;
}

.form-inline .form-group {
    position: relative;
    display: block!important;
    margin-bottom: 15px !important;
}
